@import "../../app.scss";

.projects-section {
    width: 100%;


    .projects-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        grid-gap: 2.5rem 1rem;
    }
}