@import "../../_vars.scss";


.skill-card {
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .icon {
        width: 20%;

        svg {
            width: 60%;
            height: auto;
            fill: black;
        }
    }


    .title-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 80%;


        .progress-bar {
            width: 100%;

            .progress-container {
                width: 90%;
                height: 4px;
                background-color: rgb(192, 187, 187);

                .progress-inner {
                    height: 100%;
                    background-color: rgb(15, 15, 15);
                }
            }

        }

    }

}
