@import "../../_vars.scss";

.services-section {
    width: 100%;
    height : auto;


    .cards-section {
        width : 100%;
        
        .cards-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }
    }
}


