@import "../../mainStyles.scss";

.services {
    height: 100vh;
    width: 100%;
    position: relative;


    .cards-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-items: center;
        grid-gap: 1rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}