@import "../../app.scss";

.experience-section {
    // background : url('./background.webp') !important;
    


    .timeline-container {

        width: 100%;
        height: auto;
        z-index: 2;

        .timeline {
            position: relative;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                content: "";
                width: 3px;
                height: 100%;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0);
                background: #000;
                z-index: 1;
            }
        }
    }
}

@media screen and (max-width : $largeScreen){
    .experience-section {
    
        .timeline-container {
            .timeline {
                width: fit-content;
                margin: auto;
                &::after {
                    left: 5%;
                    transform: translate(0, 0);

                }
            }
        }
    }

}