@import '../../App.scss';

.contact-section {
    padding-bottom : 0; 

    .container {
        .contact-details {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1100px;
            justify-content: space-between;
            margin: 0 auto;

            .contact-info {

                display: flex;
                flex-direction: column;
                width: 400px;
                justify-content: space-between;
                .contact-option {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 50px;
                    align-items: center;

                    .icon {
                        width: 40px;
                        height: 40px;
                        fill: black;
                        margin-right: 20px;
                    }
                }

                .social-links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 300px;

                    a {

                        background: $action-background-color;
                        padding: 10px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        transition: all 0.2s ease-out;

                        .icon {
                            fill: white;
                            width: 25px;
                            height: 25px;
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

        .email-me {
            width: 400px;

            .form-container {
                width: 400px;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .form-input {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        h6 {
                            font-size: 0.8rem;
                            margin-bottom: 8px;
                            color : #333;
                        }

                        input {
                            font-size: 1rem;
                            padding: 0.6rem;
                            margin-bottom: 1rem;
                            border : 1px solid #bbb;
                        }
                        
                        textarea {
                            border : 1px solid #bbb;
                            resize: none;
                            width: 100%;
                            font-family: "Raleway";
                            font-weight: 600;
                            font-size: 1rem;
                            padding: 0.6rem;
                            margin-bottom: 1rem;
                            letter-spacing: 1px;
                        }
                        
                        input,textarea{
                            &:focus{
                                border : 1px solid #333;
                                outline : none;
                                
                            }
                        }
                    }

                    button {
                        width: 100%;
                        font-size: 1.2rem;
                        background: $action-background-color;
                        color: white;
                        font-weight: 700;
                        letter-spacing: 1px;
                        border: none;
                        outline: none;
                        padding: 0.4rem;
                    }
                }
            }
        }
    }
    .copyrights{
        width : 100%;
        text-align : center;
        padding : 1rem;
        background: #000;
        margin-top : 40px;

        h6{
            color : white;
            font-weight: 500;
            font-size : 1rem;
        }
    }
}