@import "../../app.scss";

.service-card {
    width: $service-card-width;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px;
    transition: all 0.2s ease-out;
    z-index: 2 !important;
    


    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px;

        .icon {
            transition: all 0.2s ease-out;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 50px;
                height: 50px;
                fill: black;
            }
        }

    }

    .title {
        margin-bottom: 20px;

        h6 {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            color: $accent-color;
        }
    }

    .desc {
        p {
            font-size: 1.1rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }

    &:hover {
        transform: scale(1.1);

        .icon-container {
            .icon {
                background: rgba($action-color, 0.1);
            }
        }
    }

}