@import "../../_vars.scss";

.card-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    transition: all 0.2s ease-out;


    .service-card {
        height: 100%;
        width: 90%;
        background-color: white;
        padding: 2.4rem 1.2rem;
        box-shadow: 0 0 8px rgb(175, 175, 175);
        transition: all 0.2s ease-out;
        z-index: 2 !important;



        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;

                svg {
                    width: 3rem;
                    height: auto;
                    fill: black;
                }
            }

        }

        .title {
            margin-bottom: 1rem;

            h4 {
                text-align: center;
                font-weight: 700;
                color: $accent-color;
            }
        }

        .desc {
            p {
                font-size: 1rem;
                line-height: 1.5rem;
                text-align: center;
            }
        }



    }

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: $mediumScreen) {

    .card-container {
        width: 260px;
        height: 320px;


        .service-card {
            height: 90%;
            width: 90%;

        }
    }
}