@import "../../app.scss";

header {
    height: $header-height;
    background: $header-background-color;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 0.2s ease-out;

    &.white-header {
        background: #fff;
        box-shadow: 0 0 4px;


        .navbar .navbar-links ul li a {
            color: #171717;

        }

        .navbar .navbar-links ul li.active {
            a {
                color: $action-color;
            }

            &::after,
            &::before {
                background-color: $action-color;

            }
        }

    }

    .navbar {
        height: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all 0.2s ease-out;

        .navbar-links {
            width: 100%;
            transition: all 0.2s ease-out;

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-between;

                li {
                    padding: 3px 0;

                    a {
                        font-weight: 400;
                        font-size: 1rem;
                        text-decoration: none;
                        color: #fff;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        transition: all 0.2s;
                    }
                }

                li.active {
                    a {
                        color: lighten($action-color, 25);
                        ;
                        font-weight: 700;
                    }

                    position : relative;

                    &::after,
                    &::before {
                        content: "";
                        animation: activeLink 0.5s ease-in-out;
                        position: absolute;
                        height: 2px;
                        background-color: lighten($action-color, 25);
                        ;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }

                    &::before {
                        top: 0;
                    }
                }
            }
        }
    }

    .menu-btn {
        display: none;
    }
}

@media screen and(max-width: $smallScreen) {
    header {
        display: flex;
        flex-direction: row;

        &.white-header {
            .navbar .navbar-links {
                background-color: #fff;

            }
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100vw;
            height: 100vh;
            background: rgba(rgb(70, 70, 70), 0.7);
            opacity: 0;
            pointer-events: none;

            .navbar-links {
                background: $header-background-color;
                height: 100%;
                width: 300px;
                display: flex;
                align-items: center;
                opacity: 0;
                transform: translateX(-300px);

                ul {
                    flex-direction: column;
                    width: 150px;
                    height: 350px;
                    margin: auto;
                    align-items: center;

                    li {
                        a {
                            font-size: 1.2rem;
                        }
                    }
                }
            }


        }

        

        .menu-btn {
            display: block;
            z-index: 3;


            .icon {
                fill: #fff;
                width: 28px;
                height: 28px;
                pointer-events: none;
            }
        }



        &.open {
            .navbar {
                opacity: 1;
                pointer-events: all;

                .navbar-links {
                    opacity: 1;
                    transform: translateX(0);
                    z-index: 2;
                }
            }
        }

        &.white-header {
            .menu-btn .icon {
                fill: #171717;
            }

        }
    }
}

@keyframes activeLink {
    0% {
        width: 0%;
    }

    60% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}