@import "../../app.scss";

.skills-section {

    .skills-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        grid-gap: 2.5rem 0.5rem;
        margin: 40px 0 100px 0;
    }

}

@media screen and (max-width: $smallScreen) {
    .skills-section{

        .skills-container{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}