@import "../../app.scss";

.skills-section {
    min-height: 100vh;



    .skills-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        grid-gap: 2.5rem 0.5rem;
        margin: 40px 0 100px 0;
    }

}