$primary-background-color : #ffffff;
$secondary-background-color : #fcfcfc;
$header-background-color : #f7f7f7;
$main-text-color : #000000;
$secondary-text-color : #696969;
$action-background-color : #2D5C5E;
$action-text-color : #ffffff;
$primary-accent-color : #90323D;



$primary-color : #DEBF1B;
$secondary-color:#060341;
$dark-background : #1c1d1c;
$light-background : #cecece;