$primary-background-color : #ffffff;
$secondary-background-color : #e4e4e4;
$header-background-color : #171717;
$action-color : #2D5C5E;
$accent-color : #90323D;






$header-height : 60px;
$experience-card-width: 420px;
$project-card-width: 350px;
$service-card-width: 220px;


//* Screen media queries
$xSmallScreen : 480px;
$smallScreen : 768px;
$mediumScreen : 1024px;
$largeScreen : 1240px;
$xLargeScreen : 1480px;