//* Colors
$primary-background-color : #fefefe;
$secondary-background-color : #e4e4e4;
$header-background-color : #171717;
$action-color : #2D5C5E;
$accent-color : #90323D;



//* Screen media queries
$xSmallScreen : 478px;
$smallScreen : 768px;
$mediumScreen : 1200px;
$largeScreen : 1350px;
$xLargeScreen : 1680px; 