@import './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 100vw;
}

body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    max-width: 100vw;
    background: $primary-background-color;

}

@function generateRandom($min, $max) {
    @return random($max -$min)+$min+px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    pointer-events: none;
    color: #000;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}


h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 28px;
    font-family: calibri;
}

button {
    font-family: 'Raleway', sans-serif;
}

svg {
    fill: white;
    height: 40px;
    width: auto;
    transition: all 0.2s ease-out;
}


.app {
    overflow: hidden;
    width: 100%;
    position: relative;

    .shapes {
        height: 70%;
        position: absolute;
        top: calc(100vh);
        z-index: -1;

        .dots-icon, .circle {
            position: absolute;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    left: generateRandom(0, 1200);
                    width: generateRandom(50, 120);
                    top: generateRandom(($i - 1)*150, $i*150);
                    opacity: random(3) * 0.1;

                }

            }

            height: auto;
        }
        .circle{
            background-color: $accent-color;
            fill: $accent-color;
            border-radius: 50%;
        }
    }
}


.container {
    width: 80%;
    max-width: $xLargeScreen;
    margin: auto;
    height: 100%;
}

.section {
    width: 100vw;
    padding: 80px 0;


}


.headline {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    z-index: 2 !important;

    .left-line {
        width: 6px;
        margin-right: 10px;
        background: $accent-color;
        z-index: 2 !important;

    }

    .headline-typo {
        z-index: 2 !important;

        h5 {
            font-weight: 700;
            letter-spacing: 2px;

        }
    }
}


.wrapper {
    width: 100%;
    height: 30px;
    background: rgb(122, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;

    .outer {
        width: 90%;
        height: 20px;
        position: relative;
        padding: 4px;
        background: #fff;

        .inner {
            height: 100%;
            background: #000;
            animation: fullWidth 1.5s ease-out;
        }
    }
}


@keyframes fullWidth {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}



@media screen and (max-width: $mediumScreen) {

    .container{
        width: 90%;
    }
    .app {
        .shapes {               
            .dots-icon, .circle {
                @for $i from 1 through 20 {
                    &:nth-child(#{$i}) {
                        left: generateRandom(0, 900);
                        width: generateRandom(50, 100);
                        top: generateRandom(($i - 1)*250, $i*250)
                    }
    
                }

            }
    
        }
    }
    
}
@media screen and (max-width: $smallScreen) {

    .app {
        .shapes {               
            .dots-icon, .circle {
                @for $i from 1 through 20 {
                    &:nth-child(#{$i}) {
                        left: generateRandom(0, 650);
                        top: generateRandom(($i - 1)*300, $i*300)

                    }
    
                }

            }
    
        }
    }

}

@media screen and (max-width: $xSmallScreen) {


    .app {
        .shapes {               
            .dots-icon, .circle {
                @for $i from 1 through 20 {
                    &:nth-child(#{$i}) {
                        left: generateRandom(0, 350);
                        top: generateRandom(($i - 1)*350, $i*350)

                    }
    
                }

            }
    
        }
    }

}